In [1]:
import pandas as pd

### Boston Neighborhoods

[link](https://data.boston.gov/dataset/boston-neighborhoods)

In [15]:
# READING IN THE BOSTON NEIGHBORHOODS CSV FILE
    # COMBO OF ZONING BOUNDARIES, ZIP CODES, AND 2010 CENSUS TRACT BOUNDS
    # ***NOT OFFICIAL BOUNDS FOR THE CITY OF BOSTON***
        # These boundaries are used in the broad sense for visualization purposes 
        # for zoning and planning studies.
nb_boston = pd.read_csv("../data/Boston_Neighborhoods.csv")

In [4]:
nb_boston.head()

,OBJECTID,Name,Acres,Neighborhood_ID,SqMiles,ShapeSTArea,ShapeSTLength
0,27,Roslindale,1605.568237,15,2.51,6.993827e+07,53563.912597
1,28,Jamaica Plain,2519.245394,11,3.94,1.097379e+08,56349.937161
2,29,Mission Hill,350.853564,13,0.55,1.528312e+07,17918.724113
3,30,Longwood,188.611947,28,0.29,8.215904e+06,11908.757148
4,31,Bay Village,26.539839,33,0.04,1.156071e+06,4650.635493

**Notes**

- This is a small df, with only 26 rows and 7 columns.
- Does not contain much 'gleanable' info:
    - No zipcodes, no population, no demographics data.

In [8]:
nb_boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OBJECTID         26 non-null     int64
 1   Name             26 non-null     object
 2   Acres            26 non-null     float64
 3   Neighborhood_ID  26 non-null     int64
 4   SqMiles          26 non-null     float64
 5   ShapeSTArea      26 non-null     float64
 6   ShapeSTLength    26 non-null     float64
dtypes: float64(4), int64(2), object(1)
memory usage: 1.5+ KB

In [6]:
nb_boston.shape

(26, 7)

In [7]:
nb_boston.isna().sum()

OBJECTID           0
Name               0
Acres              0
Neighborhood_ID    0
SqMiles            0
ShapeSTArea        0
ShapeSTLength      0
dtype: int64

In [14]:
nb_boston["Name"].count()

26

In [10]:
# ARE ALL THE NB'S UNIQUE?
nb_boston["Name"].value_counts()

North End                  1
Jamaica Plain              1
Dorchester                 1
Roslindale                 1
Charlestown                1
Mattapan                   1
Downtown                   1
West End                   1
Chinatown                  1
Bay Village                1
Mission Hill               1
South Boston Waterfront    1
Back Bay                   1
East Boston                1
Allston                    1
Beacon Hill                1
Hyde Park                  1
Longwood                   1
South End                  1
Brighton                   1
Roxbury                    1
West Roxbury               1
Fenway                     1
South Boston               1
Harbor Islands             1
Leather District           1
Name: Name, dtype: int64

### Boston City Score

[link](https://data.boston.gov/dataset/cityscore)

In [16]:
# CSV FILE
# "METRICS ON OVERALL CITY HEALTH BASED ON WORK DONE ACROSS ALL FACETS OF THE CITY"

city_score_boston = pd.read_csv("../data/tmpnbpkibsv.csv")

In [17]:
city_score_boston.head()

,metric_name,score_calculated_ts,target,metric_logic,day_score,day_numerator,day_denominator,week_score,week_numerator,week_denominator,month_score,month_numerator,month_denominator,quarter_score,quarter_numerator,quarter_denominator,latest_score_flag
0,BFD INCIDENTS,2020-05-18 06:05:17.022092,NaN,historical_average / current_average,1.480498,225.035714,152.000000,1.396498,225.035714,161.142857,1.369727,205.641667,150.133333,1.297955,215.777778,166.244444,1
1,BFD INCIDENTS,2020-05-17 06:01:26.914554,NaN,historical_average / current_average,1.152266,214.321429,186.000000,1.376376,214.321429,155.714286,1.369727,205.641667,150.133333,1.297955,215.777778,166.244444,0
2,BFD INCIDENTS,2020-05-16 06:01:35.813394,NaN,historical_average / current_average,1.060997,214.321429,202.000000,1.376376,214.321429,155.714286,1.369727,205.641667,150.133333,1.297955,215.777778,166.244444,0
3,LIBRARY USERS,2020-05-15 06:04:23.127541,NaN,current_average / historical_average,1.129332,8669.000000,7676.222222,1.154977,8865.857143,7676.222222,1.134916,8700.100000,7665.854701,1.202469,9533.411111,7928.198880,0
4,LIBRARY USERS,2020-05-14 14:17:41.861023,NaN,current_average / historical_average,1.211924,9303.000000,7676.222222,1.154977,8865.857143,7676.222222,1.134916,8700.100000,7665.854701,1.202469,9533.411111,7928.198880,0

In [18]:
city_score_boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20202 entries, 0 to 20201
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   metric_name          20202 non-null  object
 1   score_calculated_ts  20202 non-null  object
 2   target               15118 non-null  float64
 3   metric_logic         20202 non-null  object
 4   day_score            13825 non-null  float64
 5   day_numerator        16047 non-null  float64
 6   day_denominator      14079 non-null  float64
 7   week_score           18402 non-null  float64
 8   week_numerator       19370 non-null  float64
 9   week_denominator     18604 non-null  float64
 10  month_score          19772 non-null  float64
 11  month_numerator      20019 non-null  float64
 12  month_denominator    19874 non-null  float64
 13  quarter_score        19453 non-null  float64
 14  quarter_numerator    19626 non-null  float64
 15  quarter_denominator  20015 non-null  float64
 16  latest_score_flag    20202 non-null  int64
dtypes: float64(13), int64(1), object(3)
memory usage: 2.6+ MB

In [21]:
city_score_boston.shape

(20202, 17)

In [22]:
# CONTAINS MORE NAN
city_score_boston.isna().sum()

metric_name               0
score_calculated_ts       0
target                 5084
metric_logic              0
day_score              6377
day_numerator          4155
day_denominator        6123
week_score             1800
week_numerator          832
week_denominator       1598
month_score             430
month_numerator         183
month_denominator       328
quarter_score           749
quarter_numerator       576
quarter_denominator     187
latest_score_flag         0
dtype: int64

In [24]:
# WHAT IS THE TARGET COLUMN?
city_score_boston["target"].value_counts()

0.80    9230
4.00    1869
0.95    1868
0.90     934
6.00     806
1.00     411
Name: target, dtype: int64

### Economic Indicators

[csv link](https://data.boston.gov/dataset/economic-indicators-legacy-portal)

In [33]:
# HAS FORECLOSURE INFO
    # TOURISM
    # UNEMPLOYMENT
        # TOTAL JOBS (WITHIN THE AREA?)
        # RATES
    # HOUSING SALE PRICES
        # SALES VOLUME
        # AFFORDABLE HOUSING UNIT PERMITS
econ_inds_boston = pd.read_csv("../data/economic-indicators.csv")

**Notes**

- What are the rows?
    - Possibly just different days
        - Sometimes within the same month, often within the same year.

In [28]:
econ_inds_boston.head()

,Year,Month,logan_passengers,logan_intl_flights,hotel_occup_rate,hotel_avg_daily_rate,total_jobs,unemp_rate,labor_force_part_rate,pipeline_unit,pipeline_total_dev_cost,pipeline_sqft,pipeline_const_jobs,foreclosure_pet,foreclosure_deeds,med_housing_price,housing_sales_vol,new_housing_const_permits,new-affordable_housing_permits
0,2013,1,2019662,2986,0.572,158.925868,0,0.071,0.594,329,80000000,313107,241.600,44,11,380000,405,534,134
1,2013,2,1878731,2587,0.645,165.497062,0,0.063,0.591,557,360700000,1001911,1089.314,50,10,359500,332,196,13
2,2013,3,2469155,3250,0.819,187.450000,0,0.061,0.591,803,343200000,820556,1036.464,6,6,400000,479,12,0
3,2013,4,2551246,3408,0.855,233.435374,0,0.061,0.593,325,150000000,350000,453.000,14,8,403000,558,91,24
4,2013,5,2676291,3240,0.858,237.890210,0,0.069,0.597,122,222200000,457374,671.044,12,4,425500,809,63,0

In [29]:
econ_inds_boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Year                            25 non-null     int64
 1   Month                           25 non-null     int64
 2   logan_passengers                25 non-null     int64
 3   logan_intl_flights              25 non-null     int64
 4   hotel_occup_rate                25 non-null     float64
 5   hotel_avg_daily_rate            25 non-null     float64
 6   total_jobs                      25 non-null     int64
 7   unemp_rate                      25 non-null     float64
 8   labor_force_part_rate           25 non-null     float64
 9   pipeline_unit                   25 non-null     int64
 10  pipeline_total_dev_cost         25 non-null     int64
 11  pipeline_sqft                   25 non-null     int64
 12  pipeline_const_jobs             25 non-null     float64
 13  foreclosure_pet                 25 non-null     int64
 14  foreclosure_deeds               25 non-null     int64
 15  med_housing_price               25 non-null     int64
 16  housing_sales_vol               25 non-null     int64
 17  new_housing_const_permits       25 non-null     int64
 18  new-affordable_housing_permits  25 non-null     int64
dtypes: float64(5), int64(14)
memory usage: 3.8 KB

In [31]:
econ_inds_boston.shape

(25, 19)

In [32]:
econ_inds_boston.isna().sum()

Year                              0
Month                             0
logan_passengers                  0
logan_intl_flights                0
hotel_occup_rate                  0
hotel_avg_daily_rate              0
total_jobs                        0
unemp_rate                        0
labor_force_part_rate             0
pipeline_unit                     0
pipeline_total_dev_cost           0
pipeline_sqft                     0
pipeline_const_jobs               0
foreclosure_pet                   0
foreclosure_deeds                 0
med_housing_price                 0
housing_sales_vol                 0
new_housing_const_permits         0
new-affordable_housing_permits    0
dtype: int64

In [34]:
econ_inds_boston.loc[econ_inds_boston["Month"]]

,Year,Month,logan_passengers,logan_intl_flights,hotel_occup_rate,hotel_avg_daily_rate,total_jobs,unemp_rate,labor_force_part_rate,pipeline_unit,pipeline_total_dev_cost,pipeline_sqft,pipeline_const_jobs,foreclosure_pet,foreclosure_deeds,med_housing_price,housing_sales_vol,new_housing_const_permits,new-affordable_housing_permits
1,2013,2,1878731,2587,0.645,165.497062,0,0.063,0.591,557,360700000,1001911,1089.314000,50,10,359500,332,196,13
2,2013,3,2469155,3250,0.819,187.450000,0,0.061,0.591,803,343200000,820556,1036.464000,6,6,400000,479,12,0
3,2013,4,2551246,3408,0.855,233.435374,0,0.061,0.593,325,150000000,350000,453.000000,14,8,403000,558,91,24
4,2013,5,2676291,3240,0.858,237.890210,0,0.069,0.597,122,222200000,457374,671.044000,12,4,425500,809,63,0
5,2013,6,2824862,3402,0.911,244.454324,0,0.078,0.608,296,124500000,433868,375.990000,14,13,445000,864,352,47
6,2013,7,2978718,3660,0.886,221.195479,0,0.077,0.608,1228,610200000,1385259,1842.774000,19,11,429000,909,462,44
7,2013,8,3020074,3700,0.917,223.003079,0,0.073,0.606,134,57897696,283502,175.000000,11,8,435000,989,20,3
8,2013,9,2504491,3181,0.881,255.497825,0,0.072,0.598,886,1037000000,1441886,3131.740000,19,6,438000,677,357,23
9,2013,10,2672640,3056,0.915,287.465922,0,0.069,0.598,860,849324048,1794758,2564.958625,15,10,465000,619,42,185
10,2013,11,2296667,2708,0.786,222.549100,0,0.064,0.600,1005,2325500000,4642045,7023.010000,15,3,450000,570,712,166
11,2013,12,2345162,2780,0.589,157.890000,0,0.062,0.597,984,2080000000,3351599,6281.600000,13,4,429000,591,209,48
12,2014,1,2016205,2714,0.605,168.480000,0,0.063,0.596,790,754832000,2014132,2279.000000,10,10,475000,440,250,127
1,2013,2,1878731,2587,0.645,165.497062,0,0.063,0.591,557,360700000,1001911,1089.314000,50,10,359500,332,196,13
2,2013,3,2469155,3250,0.819,187.450000,0,0.061,0.591,803,343200000,820556,1036.464000,6,6,400000,479,12,0
3,2013,4,2551246,3408,0.855,233.435374,0,0.061,0.593,325,150000000,350000,453.000000,14,8,403000,558,91,24
4,2013,5,2676291,3240,0.858,237.890210,0,0.069,0.597,122,222200000,457374,671.044000,12,4,425500,809,63,0
5,2013,6,2824862,3402,0.911,244.454324,0,0.078,0.608,296,124500000,433868,375.990000,14,13,445000,864,352,47
6,2013,7,2978718,3660,0.886,221.195479,0,0.077,0.608,1228,610200000,1385259,1842.774000,19,11,429000,909,462,44
7,2013,8,3020074,3700,0.917,223.003079,0,0.073,0.606,134,57897696,283502,175.000000,11,8,435000,989,20,3
8,2013,9,2504491,3181,0.881,255.497825,0,0.072,0.598,886,1037000000,1441886,3131.740000,19,6,438000,677,357,23
9,2013,10,2672640,3056,0.915,287.465922,0,0.069,0.598,860,849324048,1794758,2564.958625,15,10,465000,619,42,185
10,2013,11,2296667,2708,0.786,222.549100,0,0.064,0.600,1005,2325500000,4642045,7023.010000,15,3,450000,570,712,166
11,2013,12,2345162,2780,0.589,157.890000,0,0.062,0.597,984,2080000000,3351599,6281.600000,13,4,429000,591,209,48
12,2014,1,2016205,2714,0.605,168.480000,0,0.063,0.596,790,754832000,2014132,2279.000000,10,10,475000,440,250,127
1,2013,2,1878731,2587,0.645,165.497062,0,0.063,0.591,557,360700000,1001911,1089.314000,50,10,359500,332,196,13